body.o_header_is_sticky {
}

#wrapwrap > header#top.o_header_sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    animation: slide-down 0.4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
